<!-- send data ts ==> html -->

<!-- data binding , one way binding ts ===> html -->
<!--  interpolation {{prop}} -->

<h1>{{ storeProp.storeName }}</h1>
<img src="{{ storeProp.storeLogo }}" />

<ul>
  <!-- <li>{{storeProp.storeBranches[0]}}</li>
  <li>{{storeProp.storeBranches[1]}}</li> -->

  <!-- for loop -->
  <!-- @for(anyname of arrayname ; track i ){
contetnthtml
 } -->

  @for(i of storeProp.storeBranches; track i){
  <li>{{ i }}</li>
  }
</ul>
<app-products></app-products>
<!-- getallproduct -->